<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrc.abxaudiofree"
    android:versionCode="2"
    android:versionName="1.1"
    android:installLocation="preferExternal">

    <application
        android:theme="@android:style/Theme.Black"
        android:icon="@drawable/ic_launcher"
        android:label="ABX Audio"
        android:allowBackup="true">
        <activity
            android:name=".ScreenMain"
            android:label="ABX Test"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        	android:name=".ScreenSetup"
            android:label="Setup"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"
        />
        <activity
        	android:name=".ScreenClip"
            android:label="Clip"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"
        />
        <activity
        	android:name=".ScreenInstruct"
            android:label="Instructions"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"
        />
        <activity
        	android:name=".ScreenTest"
            android:label="Test"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"
        />
        <activity
        	android:name=".ScreenResults"
            android:label="Results"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"
        />
        <activity
        	android:label="File dialog"
        	android:name="com.lamerman.FileDialog"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"
        />
    </application>

	<!-- Android min version: 2.3.3 (10), target: 9.0 (28) -->
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="28"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
